* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

.el-aside {
  background-color: var(--el-bg-color);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
}

.el-main {
  background-color: var(--el-bg-color-page);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--el-text-color-primary);
}
